*~
*.diff
*.log
*.o
*.orig
*.patch
*.pot
*.rec
*.rej
*.cl
.directory
src/cgminer/.deps/
src/cgminer/Makefile
src/cgminer/ccan/.deps/
src/cgminer/ccan/.deps/
src/cgminer/ccan/Makefile
src/cgminer/ccan/libccan.a
src/cgminer/compat/Makefile
src/cgminer/compat/jansson/.deps/
src/cgminer/compat/jansson/Makefile
src/cgminer/config.h
src/cgminer/config.status
src/cgminer/lib/.deps/
src/cgminer/lib/Makefile
src/cgminer/lib/arg-nonnull.h
src/cgminer/lib/c++defs.h
src/cgminer/lib/libgnu.a
src/cgminer/lib/signal.h
src/cgminer/lib/string.h
src/cgminer/lib/warn-on-use.h
src/cgminer/stamp-h1
src/dtach/Makefile
src/dtach/config.h
src/dtach/config.status
run/cgminer
run/dtach
run/SIPdump
run/calc_stat
run/dmg2john
run/genmkvpwd
run/gpg2john
run/hccap2john
run/john
run/john.local.conf
run/keepass2john
run/keychain2john
run/keyring2john
run/keystore2john
run/kwallet2john
run/mkvcalcproba
run/mozilla2john
run/office2john
run/kernels/
run/pfx2john
run/putty2john
run/pwsafe2john
run/racf2john
run/rar2john
run/raw2dyna
run/ssh2john
run/tgtsnarf
run/to_dyna
run/truecrypt_volume2john
run/uaf2john
run/unafs
run/undrop
run/unique
run/unshadow
run/vncpcap2john
run/wpapcap2john
run/zip2john
src/arch.h
src/fmt_externs.h
src/fmt_registers.h
src/generic.h
src/john_build_rule.h
src/para-bench
test/
